.loginWrapper {
    width: 320px;
    height: 500px;
    /*color: snow;*/
    border-radius: 20px;
    background-color: rgba(189, 189, 176, 0.8);
    padding: 20px;
    margin: 0 auto;
}

.formWrapper {
    margin-top: 20px;
    /*color: snow;*/
}

.loginButtonStyles {
    display: flex;
    justify-content: center;
}

.inputContainerStyles {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.inputStyle {
    color: black;
}

.checkboxStyles {
    margin: 20px 0;
}

.errorStyles {
    color: red;
}